<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zd.sdq.mapper.SensorDataMapper">


    <select id="listData" resultType="com.zd.sdq.entity.dto.SensorDataDTO">
        SELECT sd.*, d.remote_code_no as code_no, d.remote_point_code, d.remote_channel_no as channel_no
        FROM sensor_data sd
                 JOIN DEVICE d ON d.device_key = sd.device_key
        ${ew.customSqlSegment}
    </select>
    <select id="listWsdjData" resultType="com.zd.sdq.entity.dto.SensorDataDTO">
        SELECT sd.*, d.remote_code_no as code_no, d.remote_point_code, d.remote_channel_no as channel_no
        FROM sensor_data sd
                 JOIN DEVICE d ON d.device_key = sd.device_key AND d.device_type = sd.data_key
            ${ew.customSqlSegment}
    </select>

</mapper>